<h1>Welcome to the Game</h1>
<p>
    Please share the ID: <i>{{ gameId }} <button [cdkCopyToClipboard]="gameId" [cdkCopyToClipboardAttempts]="5">📋</button></i> with others, and wait for them to join!
</p>
<p>
<small>
    Your Card was charged $738.54 for this game. This amount (less $1 if you loose, plus $1 if you win) will be returned
    to you upon the completion of the game. Failure to complete the game will result in
    the loss of this amount.
</small>
</p>
<h2>Good Luck<i>!</i></h2>
<hr>
<h2>Players that have Joined: {{ (numberOfPlayers$ | async) }} {{ (numberOfPlayers$ | async) === 1 ? '(you)' : '' }}</h2>

<button (click)="startGame()" [disabled]="((numberOfPlayers$ | async) || 0) <= 2 || gameId === ''">Start Game</button>

<div>
    <h2>Players:</h2>
    <mat-card *ngFor="let player of (players$ | async)">
        <mat-card-title>{{ player.userName }}</mat-card-title>
    </mat-card>
</div>